{
	"presets": [
		["latest", { "modules": false }],
		"react"
	],

	"plugins": [
		"transform-runtime",
		"transform-decorators-legacy",
		"transform-object-rest-spread",
	],

	"env": {
		"production": {
			"presets": ["react-optimize"]
		}
	}
}
